In [4]:
train_test_new <- read.csv("train-test-new.csv")

In [5]:
head(train_test_new)

  age job           marital education         default housing loan contact
1 56  self-employed married university.degree no      yes     no   cellular
2 57  management    married university.degree no      no      no   cellular
3 36  admin.        married university.degree no      yes     no   telephone
4 45  management    married high.school       unknown no      no   cellular
5 39  admin.        single  university.degree no      yes     no   cellular
6 33  services      married high.school       no      no      yes  telephone
  month day_of_week campaign pdays previous poutcome    emp.var.rate
1 nov   wed         1        999   0        nonexistent -0.1
2 jul   tue         1        999   0        nonexistent  1.4
3 may   fri         2        999   0        nonexistent  1.1
4 aug   wed         2        999   0        nonexistent  1.4
5 jul   wed         1        999   0        nonexistent  1.4
6 may   fri         2        999   0        nonexistent  1.1
  cons.price.idx cons.conf.idx euribor3m nr.employed y
1 93.200         -42.0         4.120     5195.8      no
2 93.918         -42.7         4.961     5228.1      no
3 93.994         -36.4         4.859     5191.0      no
4 93.444         -36.1         4.964     5228.1      no
5 93.918         -42.7         4.963     5228.1      no
6 93.994         -36.4         4.859     5191.0      no

In [6]:
n <- length(train_test_new[,1])
y.class <- rep(0,n)

In [7]:
for (i in 1:n){
    if (train_test_new[i, 20] == "yes"){
        y.class[i] <- 1
    }
}

In [10]:
train_test_all <- cbind(train_test_new[,1:19], y.class)
head(train_test_all)

  age job           marital education         default housing loan contact
1 56  self-employed married university.degree no      yes     no   cellular
2 57  management    married university.degree no      no      no   cellular
3 36  admin.        married university.degree no      yes     no   telephone
4 45  management    married high.school       unknown no      no   cellular
5 39  admin.        single  university.degree no      yes     no   cellular
6 33  services      married high.school       no      no      yes  telephone
  month day_of_week campaign pdays previous poutcome    emp.var.rate
1 nov   wed         1        999   0        nonexistent -0.1
2 jul   tue         1        999   0        nonexistent  1.4
3 may   fri         2        999   0        nonexistent  1.1
4 aug   wed         2        999   0        nonexistent  1.4
5 jul   wed         1        999   0        nonexistent  1.4
6 may   fri         2        999   0        nonexistent  1.1
  cons.price.idx cons.conf.idx euribor3m nr.employed y.class
1 93.200         -42.0         4.120     5195.8      0
2 93.918         -42.7         4.961     5228.1      0
3 93.994         -36.4         4.859     5191.0      0
4 93.444         -36.1         4.964     5228.1      0
5 93.918         -42.7         4.963     5228.1      0
6 93.994         -36.4         4.859     5191.0      0

In [13]:
train <- train_test_all[1:8000,]
test <- train_test_all[8001:10000,]

In [15]:
result.LR1 <- glm(y.class~., data=train, family=binomial)

In [16]:
summary(result.LR1)

Call:
glm(formula = y.class ~ ., family = binomial, data = train)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-2.0286  -0.3931  -0.3156  -0.2555   2.8448

Coefficients: (1 not defined because of singularities)
                               Estimate Std. Error z value Pr(>|z|)
(Intercept)                  -1.274e+02  7.792e+01  -1.635 0.102048
age                          -5.921e-03  4.777e-03  -1.240 0.215158
jobblue-collar                6.226e-02  1.594e-01   0.391 0.696043
jobentrepreneur               2.104e-01  2.345e-01   0.897 0.369555
jobhousemaid                  3.492e-01  2.692e-01   1.297 0.194473
jobmanagement                 2.070e-01  1.715e-01   1.207 0.227460
jobretired                    6.060e-01  2.116e-01   2.864 0.004184 **
jobself-employed             -3.045e-01  2.706e-01  -1.125 0.260413
jobservices                   1.494e-02  1.719e-01   0.087 0.930706
jobstudent                    1.882e-02  2.442e-01   0.077 0.938588
jobtechnician                 2.088e-01  1.439e-01   1.451 0.146874
jobunemployed                 8.431e-02  2.410e-01   0.350 0.726498
jobunknown                    1.893e-02  4.339e-01   0.044 0.965208
maritalmarried                1.737e-01  1.417e-01   1.226 0.220302
maritalsingle                 9.885e-02  1.616e-01   0.612 0.540612
maritalunknown                1.008e+00  7.862e-01   1.282 0.199843
educationbasic.6y             2.193e-01  2.324e-01   0.944 0.345388
educationbasic.9y            -7.236e-02  1.954e-01  -0.370 0.711103
educationhigh.school          1.737e-01  1.870e-01   0.929 0.353004
educationilliterate           1.157e+00  9.031e-01   1.281 0.200124
educationprofessional.course  1.580e-01  2.040e-01   0.774 0.438683
educationuniversity.degree    2.144e-01  1.873e-01   1.145 0.252368
educationunknown              2.985e-01  2.383e-01   1.252 0.210390
defaultunknown               -1.545e-01  1.310e-01  -1.179 0.238333
defaultyes                   -8.696e+00  1.970e+02  -0.044 0.964786
housingunknown                2.423e-01  2.522e-01   0.961 0.336629
housingyes                   -1.207e-01  8.295e-02  -1.455 0.145763
loanunknown                          NA         NA      NA       NA
loanyes                      -9.967e-02  1.164e-01  -0.856 0.391745
contacttelephone             -6.181e-01  1.558e-01  -3.968 7.25e-05 ***
monthaug                     -7.602e-02  2.460e-01  -0.309 0.757302
monthdec                     -1.724e-01  4.384e-01  -0.393 0.694170
monthjul                     -3.451e-02  1.920e-01  -0.180 0.857332
monthjun                     -4.616e-01  2.581e-01  -1.788 0.073714 .
monthmar                      1.060e+00  2.963e-01   3.576 0.000349 ***
monthmay                     -7.426e-01  1.675e-01  -4.433 9.31e-06 ***
monthnov                     -5.576e-01  2.386e-01  -2.337 0.019429 *
monthoct                     -4.488e-01  3.144e-01  -1.427 0.153474
monthsep                     -5.067e-01  3.584e-01  -1.414 0.157466
day_of_weekmon               -2.631e-01  1.341e-01  -1.963 0.049682 *
day_of_weekthu                2.101e-01  1.256e-01   1.673 0.094337 .
day_of_weektue                1.123e-01  1.315e-01   0.854 0.392946
day_of_weekwed                1.448e-01  1.306e-01   1.108 0.267741
campaign                     -2.312e-02  2.089e-02  -1.107 0.268336
pdays                        -7.257e-04  4.212e-04  -1.723 0.084930 .
previous                      6.243e-02  1.370e-01   0.456 0.648701
poutcomenonexistent           6.174e-01  2.087e-01   2.958 0.003095 **
poutcomesuccess               1.385e+00  4.186e-01   3.308 0.000938 ***
emp.var.rate                 -1.071e+00  2.878e-01  -3.723 0.000197 ***
cons.price.idx                1.304e+00  5.140e-01   2.537 0.011169 *
cons.conf.idx                 3.820e-02  1.630e-02   2.343 0.019128 *
euribor3m                     2.105e-01  2.627e-01   0.801 0.422965
nr.employed                   8.523e-04  6.320e-03   0.135 0.892735
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 5552.6  on 7999  degrees of freedom
Residual deviance: 4356.6  on 7948  degrees of freedom
AIC: 4460.6

Number of Fisher Scoring iterations: 10